# Introdução a SQL

### TP 3.1 - Inserir registros

In [2]:
# INSERT INTO sportStars VALUES ("Teste1", "Teste11", "May", 1993, "Soccer");

# INSERT INTO sportStars VALUES ("Teste2", "Teste22", "June", 1990, "Peteca");

### TP 3.2 - Consulta todas colunas

In [ ]:
## SELECT * FROM sportStars;

### TP 3.3 - Consulta duas colunas

In [ ]:
# SELECT firstName,surname FROM sportStars;

### TP 3.4 - Consulta operador >

In [ ]:
# SELECT * FROM sportStars WHERE yearOfBirth > 1985;

### TP 3.5 - Consulta operador >=

In [ ]:
# SELECT * FROM sportStars WHERE yearOfBirth >= 1985;

### TP 3.6 - Consulta operador <

In [ ]:
# SELECT * FROM sportStars WHERE yearOfBirth < 1985;

### TP 3.7 - Consulta operador <=

In [ ]:
# SELECT * FROM sportStars WHERE yearOfBirth <= 1985;

### TP 3.8 - Consulta operador =

In [ ]:
# SELECT * FROM sportStars WHERE yearOfBirth = 1985;

### TP 3.9 - Consulta operador !=

In [ ]:
# SELECT * FROM sportStars WHERE yearOfBirth != 1985;

### TP 3.10 - Consulta operador AND

In [ ]:
# SELECT * FROM sportStars WHERE yearOfBirth = 1985 AND monthBorn = 'June';

### TP 3.11 - Consulta operador OR

In [ ]:
# SELECT * FROM sportStars WHERE yearOfBirth = 1985 OR monthBorn = 'June';

### TP 3.12 - Consulta operador IN

In [ ]:
# SELECT * FROM sportStars WHERE yearOfBirth IN (1984,1985);

### TP 3.13 - Consulta operador NOT IN

In [ ]:
# SELECT * FROM sportStars WHERE yearOfBirth NOT IN (1984,1985);

### TP 3.14 - Consulta operador BETWEEN

In [ ]:
# SELECT * FROM sportStars WHERE yearOfBirth BETWEEN 1980 AND 1985;

### TP 3.15 - Consulta operador NOT BETWEEN

In [ ]:
# SELECT * FROM sportStars WHERE yearOfBirth NOT BETWEEN 1980 AND 1985;

### TP 3.16 - Consulta operador > AND =

In [ ]:
# SELECT * FROM sportStars WHERE yearOfBirth > 1980 AND monthBorn = 'June';

### TP 3.17 - Consulta operador < AND !=

In [ ]:
# SELECT * FROM sportStars WHERE yearOfBirth < 1985 AND yearOfBirth != 1981;

### TP 3.18 - Consulta operador >= AND !=

In [ ]:
# SELECT * FROM sportStars WHERE yearOfBirth >= 1985 AND yearOfBirth != 1991;

### TP 3.19 - Consulta operador <= AND =

In [ ]:
# SELECT * FROM sportStars WHERE yearOfBirth <= 1985 AND monthBorn = 'December';

### TP 3.20 - Consulta operador = AND !=

In [ ]:
# SELECT * FROM sportStars WHERE yearOfBirth = 1985 AND monthBorn != 'June';

### TP 3.21 - Consulta operador = OR IN

In [ ]:
# SELECT * FROM sportStars WHERE monthBorn = 'June' OR yearOfBirth IN (1986,1990) ;

### TP 3.22 - Consulta operador != OR NOT IN

In [ ]:
# SELECT * FROM sportStars WHERE (sport != 'Golf') OR (monthBorn NOT IN ('December')) ;

### TP 3.23 - Consulta operador = OR BETWEEN

In [ ]:
# SELECT * FROM sportStars WHERE (sport = 'Golf') OR (yearOfBirth BETWEEN 1990 AND 2000);

### TP 3.24 - Consulta operador != OR NOT BETWEEN

In [ ]:
# SELECT * FROM sportStars WHERE (sport != 'Football') OR (yearOfBirth NOT BETWEEN 1970 AND 2000);

### TP 3.25 - Consulta operador = OR !=

In [ ]:
# SELECT * FROM sportStars WHERE (sport = 'Football') OR (monthBorn != 'June');